<div data-post-id={{post.id}}>
{{#paper-card class="animated fadeIn" as |card|}}
  {{#if post.image}}
    {{card.image src=post.image.source alt=post.image.alt title=post.image.alt}}
  {{/if}}
  {{#if post.title}}
    {{#card.title as |title|}}
      {{#title.text as |text|}}
        {{#text.headline}}{{post.title}}{{/text.headline}}
      {{/title.text}}
    {{/card.title}}
  {{/if}}
  {{#card.content}}
    {{markdown-to-html markdown=post.excerpt}}
  {{/card.content}}
  {{#if (and openPost post.hasContent)}}
    {{#card.actions}}
      {{#paper-button accent=true onClick=(action openPost)}}Read more{{/paper-button}}
    {{/card.actions}}
  {{/if}}
{{/paper-card}}
</div>