$theme-name: "default";

$primary: "grey";
$accent: "red";
$warn: "red";
$background: "grey";
$link: "red";

$dark: true;
$default-color: '900';

$foreground: "foreground-light";

$base-background-color: #424242;
$base-color: rgba(255, 255, 255, 0.87);

@import 'ember-paper';

body > div.ember-view {
  height: 100%;
  div[role="main"] {
    height: 100%;

    md-content {
      height: 100%;
      overflow-y: scroll;

      background-image: url(img/background.jpg);
      background-repeat: repeat;
      background-position: center;
    }
  }
}

.content-wrapper, .toolbar-wrapper {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
}

md-card {
  background-color: color('grey', '900');
  color: $light-contrast-color;
}

a {
  color: color($accent);
  text-decoration: none;
  transition: color 200ms ease-in;

  &:hover {
    color: color($accent, '700');
  }
}

hr {
  border: none;
  border-bottom: 1px solid rgba($light-contrast-color, .3);
  width: 70%;
}

@import 'application';
@import 'index';
@import 'info';
@import 'post';
