$theme-name: "default";

$primary: "grey";
$accent: "red";
$warn: "red";
$background: "grey";
$link: "red";

$dark: true;
$default-color: '900';

$foreground: "foreground-light";

$base-background-color: #424242;
$base-color: rgba(255, 255, 255, 0.87);

@import 'ember-paper';

body > div.ember-view {
  height: 100%;
  div[role="main"] {
    height: 100%;

    md-content {
      height: 100%;

      background-image: url(img/background.jpg);
      background-repeat: repeat;
      background-position: center;
    }
  }
}

.content-wrapper, .toolbar-wrapper {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
}

.app-toolbar {
  .toolbar-wrapper {
    padding-left: 18px;
  }
  .toolbar-content {
    max-width: 80%;
  }

  .site-logo {
    float: right;
    width: 0;
    height: 0;
    img {
      margin-left: -102px;
      margin-top: 12px;
      width: 100px;
      height: auto;
    }
  }
  h3 {
    color: color('red');
    margin-left: 12px;
  }
}

.media-gt-md {
  .site-logo img {
    margin-left: -90px;
    top: 10px;
  }
}

md-card {
  background-color: color('grey', '900');
  md-card-title h3 {
    margin-top: 0;
  }

  md-card-title ~ md-card-content {
    margin-top: -18px;

    img {
      max-width: 100%;
    }
  }

  .md-actions button {
    max-width: 50%;
  }
}

a {
  color: color($accent);
  text-decoration: none;
  transition: color 200ms ease-in;

  &:hover {
    color: color($accent, '700');
  }
}

.raid-logs {
  h4 {
    margin: 0 0 3px 0;
  }
  ul {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      padding: 3px;
      &:before {
        content: '> '
      }
    }
  }
}

.index-navigation {
  animation-duration: 600ms;
}
