.md-button:not([disabled]).md-default-theme {
  &.md-accent {
    color: color('red');
  }
  &:not(.md-accent) {
    color: $light-contrast-color;
  }

  md-icon {
    color: inherit;
  }
}

md-toolbar.md-default-theme.app-toolbar {
  background-color: color('grey', '900');
  color: $light-contrast-color;

  .md-button:not([disabled]).md-default-theme {
    &.md-accent {
      color: color('red');
    }
    &:not(.md-accent) {
      color: $light-contrast-color;
    }

    md-icon {
      color: inherit;
    }
  }

  .toolbar-wrapper {
    padding-left: 18px;
  }
  .toolbar-content {
    max-width: 78%;
  }

  .back-button {
    margin: 0;
  }

  .site-logo {
    float: right;
    width: 0;
    height: 0;
    img {
      margin-left: -102px;
      margin-top: 12px;
      width: 100px;
      height: auto;
    }
  }
  .name {
    h3 {
      color: color('red');
      font-weight: normal;
    }
  }
}

.media-gt-md .app-toolbar {
  .site-logo img {
    margin-left: -90px;
    top: 10px;
  }
  h3 {
    margin-left: 0;
  }
}

.raid-logs {
  .md-subhead, md-icon {
    color: $light-contrast-color;
  }
}
