.app-toolbar {
  .toolbar-wrapper {
    padding-left: 18px;
  }
  .toolbar-content {
    max-width: 80%;
  }

  .site-logo {
    float: right;
    width: 0;
    height: 0;
    img {
      margin-left: -102px;
      margin-top: 12px;
      width: 100px;
      height: auto;
    }
  }
  h3 {
    color: color('red');
    margin-left: 12px;
  }
}

.media-gt-md .app-toolbar {
  .site-logo img {
    margin-left: -90px;
    top: 10px;
  }
  h3 {
    margin-left: 0;
  }
}
