.md-button:not([disabled]).md-default-theme {
  &.md-accent {
    color: color('red');
  }
  &:not(.md-accent) {
    color: $light-contrast-color;
  }

  md-icon {
    color: inherit;
  }
}

md-toolbar.md-default-theme.app-toolbar {
  background-color: color('grey', '900');
  color: $light-contrast-color;

  .md-button:not([disabled]).md-default-theme {
    &.md-accent {
      color: color('red');
    }
    &:not(.md-accent) {
      color: $light-contrast-color;
    }

    md-icon {
      color: inherit;
    }
  }

  .toolbar-content {
    max-width: 78%;
    padding-left: 6px;
  }

  .top-menu a {
    text-overflow: ellipsis;
  }

  .back-button {
    margin: 3px 0 0 0;
  }

  .site-logo {
    float: right;
    width: 0;
    height: 0;
    img {
      margin-left: -102px;
      margin-top: 12px;
      width: 100px;
      height: auto;
    }
  }
  .name {
    h3 {
      color: color('red');
      font-weight: normal;
    }
  }
}

.media-gt-md .app-toolbar {
  .site-logo img {
    margin-left: -90px;
    top: 10px;
  }
}

.aside {
  md-card-title {
    padding-bottom: 0;

    md-icon {
      margin-top: 3px;

      color: inherit;
      font-size: inherit;
    }

    .md-headline {
      font-size: 120%;
    }
  }

  .md-list-item-inner {
    padding: 0;

    a {
      padding: 0 16px;
    }

    md-icon {
      color: inherit;
      margin-bottom: 3px;
    }
  }
}
