.page-wrapper.post {
  md-card.post-content {
    h2 {
      margin: 12px 0;
    }

    h3 {
      margin: 24px 0 -3px 0;
    }

    table {
      th, td {
        padding: 12px 18px;
        border: 1px solid $light-contrast-color;
        text-align: center;
      }
    }
  }

  &.media-xs md-card.post-content {
    table {
      display: block;
      width: 100%;
      overflow: auto;
      word-break: keep-all;
    }
  }
}
