{{#paper-card}}
  {{#paper-card-title}}
    <h3>Guild rules & Info</h3>
  {{/paper-card-title}}
  {{#paper-card-content}}
    <p>This will appear very soon!</p>
    <p>
      <img src="assets/img/hang-tight.jpg" alt="Hang tight!" />
    </p>
  {{/paper-card-content}}
{{/paper-card}}