{{#paper-card class="animated fadeIn"}}
  {{#paper-card-title}}
    <h2>Information</h2>
  {{/paper-card-title}}
  {{#paper-card-content}}
    <p>
      <a href="http://eu.battle.net/wow/en/guild/ragnaros/Profanus/" target="_BLANK">Profanus</a>
      is a raiding guild on Ragnaros EU. We raid twice a week; on Wednesday and Monday.
      Raids happen from 20:00 until 23:00 server time. If you're thinking about joining us, please
      fill out our {{#link-to 'recruitment'}}recruitment form{{/link-to}}.
    </p>
  {{/paper-card-content}}
{{/paper-card}}

{{#paper-card class="animated fadeIn code-of-conduct"}}
  {{#paper-card-title}}
    <h2>Code of Conduct</h2>
  {{/paper-card-title}}
  {{#paper-card-content}}
    <p>
    We are committed to maintaining a peaceful, comfortable and tolerant community
    with people we consider friends and 'family'. As a member you are expected to
    have read, understood and abide by the following. Potential members are
    required to read this before applying. As we are an adult (20+) guild, the /g
    will sometimes contain adult content. Even so, these rules still apply. Minor
    offences will receive a warning, major and repeat offences will be punished
    with removal from the guild.
    </p>

    <ul>
      <li>
        You are expected to treat fellow members in a friendly and inclusive manner.
        You are expected to treat constructive criticism with grace and dignity and
        be respectful of differing opinions.
      </li>

      <li>
        You are required to respect the time and effort of your fellow guildies.
      </li>

      <li>
        We operate a zero-tolerance policy towards slander and discrimination related
        to gender identity, body-size, race, ethnicity, nationality, sexuality,
        religious beliefs and level of experience. This also includes cruelty,
        derogatory commentary, bullying and sexual harassment.
      </li>

      <li>
        While we are all intelligent people who enjoy a good debate, controversial
        topics such as politics and immigration should be kept to an absolute minimum
        and if possible out of the public chat / teamspeak channel.
      </li>

      <li>
        If you have access to a player's personal information, you may not publish it
        without the player's explicit permission. This includes photos and anything
        related to social networks.
      </li>

      <li>
        You are not to beg players for boosts, gold, loot or items. We aim to help
        members to the best of our ability, but it is a privilege and should not be
        demanded.
      </li>

      <li>
        The items in the guild bank are not a source of your gold. You are welcome to
        deposit items to contribute, however the officer responsible for the guild
        bank will decide whether it is necessary to sell an item and deposit profits
        in the bank.
      </li>

      <li>
        Raid loot is viewed as a group commodity in Profanus and not a personal
        reward. Items that are distributed via loot council are given fairly to
        ensure that the raid team has the best chance of progressing further. You may
        inquire the reasons why an item went to a certain player, but you may not
        complain about not getting an item.
      </li>

      <li>
        During raids we do not allow calling members out in public on the mistakes
        they make. Noticing these mistakes is the responsibility of the raid leader
        and role leaders. If you want to point something out, do it in /w to the raid
        leader. You may also offer help to the player in question provided that it is
        done in a friendly manner.
      </li>

      <li>
        If you have an issue with any of the members, you are expected to attempt to
        resolve the issue with said member. If that is not productive, you may
        request assistance from an officer and the officer is obliged to assist you
        to the best of his/her ability.
      </li>
    </ul>

    <p>
      Should any revisions be added to this, members will be notified accordingly.
    </p>

  {{/paper-card-content}}
{{/paper-card}}