{{#paper-card class="animated fadeIn" as |card|}}
  {{#card.title as |title|}}
    {{#title.text as |text|}}
      {{#text.headline}}Joining Profanus{{/text.headline}}
    {{/title.text}}
  {{/card.title}}
  {{#card.content}}
    <p>
      Welcome to the Profanus recruitment page. Before you apply, make sure to read our
      {{#link-to 'info'}}guild info{{/link-to}}.
    </p>
    <p>
      We are looking for active, but casual players. If you are looking for a hardcore
      experience, this guild is not for you. We also like social players; we like to
      talk to people.
    </p>
    <p>
      Please note that we are an English speaking guild and applications filled out in
      languages other than English will result in an instant decline.
    </p>
    <p>
      If you have any questions, feel free to whisper {{officer-link 'Oomii'}},
      {{officer-link 'Awesan' 'Waesane'}}, {{officer-link 'Wakrash' 'Wakramash'}} or {{officer-link 'Muhveli'}} in game.
      If you feel confident that you are a good match for us, apply using our recruitment form:
    </p>
  {{/card.content}}
  {{#card.actions class="layout-row layout-align-center-center"}}
    {{#paper-button onClick=(route-action 'openLink' 'http://goo.gl/forms/kdPQYYDOwG')}}
    Apply to join
    {{/paper-button}}
  {{/card.actions}}
{{/paper-card}}
