{{#paper-card}}
  {{#paper-card-title}}
    <h3>Joining Profanus</h3>
  {{/paper-card-title}}
  {{#paper-card-content}}
    <p>
      Welcome to the Profanus recruitment page. Before you apply, make sure to read our
      {{#link-to 'info'}}guild info{{/link-to}}.
    </p>
    <p>
      We are looking for active, but casual players. If you are looking for a hardcore
      experience, this guild is not for you. We also like social players; we like to
      talk to people.
    </p>
    <p>
      Please note that we are an English speaking guild and applications filled out in
      languages other than English will result in an instant decline.
    </p>
    <p>
      If you have any questions, feel free to ask any of
      <a href="http://eu.battle.net/wow/en/guild/ragnaros/Profanus/roster?rank=&maxLvl=100&name=&class=&view=achievementPoints&minLvl=1&race=&sort=rank&dir=a">
        our officers
      </a> in game. If you feel confident that you are a good match for us, apply using our
      recruitment form:
    </p>

    <div class="md-actions" flex layout="row" layout-align="center center">
      {{#paper-button action=(route-action 'recruit')}}
      Apply to join
      {{/paper-button}}
    </div>
  {{/paper-card-content}}
{{/paper-card}}
